# LLM and Generation
groq
langchain
transformers

# ML and Data Science
scikit-learn
pandas
numpy
matplotlib
seaborn
scipy
pydantic

# Project Management
streamlit
pyyaml
python-dotenv
jinja2
langchain>=0.1.11
langchain_groq>=0.0.6
langchain_community>=0.0.24
langchain_core>=0.1.30

# Evaluation and Metrics
scikit-learn
torch
tensorflow
radon

#utilities
joblib

radon
chardet


nltk